.contacto__container {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    

    .contacto__title {
        font-size: 50px;
    }

    img {
        margin-top: -20px;
        width: 105px;
        height: 95px;
    }
}

form {
    display: flex;
    justify-content: center;


    fieldset {
    margin-top: 150px;
    margin-bottom: 150px;  
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-items: center;
    border: 2px solid rgb(175, 13, 13);
    background-color: rgb(109, 109, 109);
    border-radius: 70px;

    legend {
        display: contents;
        font-size: 40px;
    }

    p {
        width: 400px;
        font-size: 20px;
    }

    .button__enviar {
        margin-left: 300px;
        margin-top: 33px;
        font-size: 32px;
    }

    textarea {
        width: 400px;
    }

}
}

@media screen and ( max-width : 700px ) {

    .contacto__container {

        .contacto__title {
            font-size: 35px;
        }

        img {
            width: 105px;
            height: 95px;
        }
    }


    form {
        fieldset {
            width: 350px;

            p {
                width: 320px;
            }

            textarea {
                width: 31vh;
            }

            .button__enviar {
                margin-left: 225px;
            }


        }
    }
}

@media screen and ( max-width : 480px ) {
    .contacto__container {
        .contacto__title {
            font-size: 7vw;
        }
    }
    form {
        fieldset {
            width: 80vw;
            legend {
                font-size: 7vw;
            }
            .contacto__text {
                font-size: 4vw;
                width: 55vw;
            }
            p {
                width: 90%;
            .contacto__text1 {
                font-size: 4vw;
            }
            input {
                width: 90%;
            }
            }
            .button__enviar {
                width: 26vh;
                margin-left: 20vw;
                padding-right: 16vw; 
                   input {
                    font-size: 4vw;
                   }
            }
        }
    }
}
@media screen and ( max-width : 320px ) {
    .contacto__container {
        .contacto__title {
            font-size: 7vw;
        }
    }
    form {

        fieldset {
            
            legend {
                font-size: 7vw;
            }
            .contacto__text {
                font-size: 4vw;
                width: 55vw;
            }
            p {
            .contacto__text1 {
                font-size: 4vw;
            }
            }
            textarea {
                width: 29vh;
            }
            .button__enviar {
                width: 10vh;
                margin-left: 0%;
                padding-right: 23vw;
                   
            }
        }
    }
}

